tr:nth-child(even) {
    background-color: rgba(169, 169, 169, 0.203);
    padding: 0;
    
}

table {
border: solid 3px black;

}
tr:nth-child(odd) {
    background-color: gray;
}

th{
    background-color: black;
    color: white;
    padding: 0;   
}

td{
    padding: 0;
}